body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 17px;
  background: white; }

li.active {
  font-weight: bold; }

div.tab-content {
  display: none; }
  div.tab-content.active {
    display: block; }
